/*-------------------
  Basic Reset
--------------------*/

@import 'assets/styles/normalize.css';

/*-------------------
  Quizdini Resets
--------------------*/

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

html,
body {
  height: 100%;
  overflow: hidden;
}

/*-------------------
  Root Element
--------------------*/

#quizdini {
  height: 100%;
  overflow: hidden;
}
