@function color($name, $shade: "500") {
    $value: #000000;
    @if map-has-key($shades, $name, $shade) {
      @return map-get($shades, $name, $shade);
    }
    @return $value;
  }
  
  @function get-color($name, $shade: "500") {
    $value: #000000;
    @if map-has-key($shades, $name, $shade) {
      @return map-get($shades, $name, $shade);
    }
    @return $value;
  }

  //@mixin bg-color($color, $important: false) {
//  background-color: $color if($important, !important, null);
//  border-color: $color if($important, !important, null);
//}

//@mixin font-size($s, $sz) {
//  font-size: #{map-get($s, $sz)};
//}


/*@mixin text-color($color, $important: false) {
  color: $color if($important, !important, null);
  caret-color: $color if($important, !important, null);
}*/
