@keyframes bg-color {
  from {
    background-color: var(--bg-start-color);
  }

  to {
    background-color: var(--bg-end-color);
  }
}

@keyframes border-color {
  from {
    border-color: var(--border-start-color);
  }

  to {
    border-color: var(--border-end-color);
  }
}

@keyframes opacity {
  from {
    opacity: var(--start-opacity);
  }

  to {
    opacity: var(--end-opacity);
  }
}

@keyframes opacity-also {
  from {
    opacity: var(--start-opacity);
  }

  to {
    opacity: var(--end-opacity);
  }
}

@keyframes bg-fade {
  0% {
    --bg-opacity: 0;
  }

  10% {
    --bg-opacity: 0.1;
  }

  20% {
    --bg-opacity: 0.2;
  }

  30% {
    --bg-opacity: 0.3;
  }

  40% {
    --bg-opacity: 0.4;
  }

  50% {
    --bg-opacity: 0.5;
  }

  60% {
    --bg-opacity: 0.6;
  }

  70% {
    --bg-opacity: 0.7;
  }

  80% {
    --bg-opacity: 0.8;
  }

  90% {
    --bg-opacity: 0.9;
  }

  100% {
    --bg-opacity: 1;
  }
}

@keyframes text-fade {
  0% {
    --text-opacity: 0;
  }

  10% {
    --text-opacity: 0.1;
  }

  20% {
    --text-opacity: 0.2;
  }

  30% {
    --text-opacity: 0.3;
  }

  40% {
    --text-opacity: 0.4;
  }

  50% {
    --text-opacity: 0.5;
  }

  60% {
    --text-opacity: 0.6;
  }

  70% {
    --text-opacity: 0.7;
  }

  80% {
    --text-opacity: 0.8;
  }

  90% {
    --text-opacity: 0.9;
  }

  100% {
    --text-opacity: 1;
  }
}

@keyframes border-fade {
  0% {
    --border-opacity: 0;
  }

  10% {
    --border-opacity: 0.1;
  }

  20% {
    --border-opacity: 0.2;
  }

  30% {
    --border-opacity: 0.3;
  }

  40% {
    --border-opacity: 0.4;
  }

  50% {
    --border-opacity: 0.5;
  }

  60% {
    --border-opacity: 0.6;
  }

  70% {
    --border-opacity: 0.7;
  }

  80% {
    --border-opacity: 0.8;
  }

  90% {
    --border-opacity: 0.9;
  }

  100% {
    --border-opacity: 1;
  }
}
