@function color($name, $shade: "500") {
  $value: #000000;
  @if map-has-key($shades, $name, $shade) {
    @return map-get($shades, $name, $shade);
  }
  @return $value;
}

@function get-color($name, $shade: "500") {
  $value: #000000;
  @if map-has-key($shades, $name, $shade) {
    @return map-get($shades, $name, $shade);
  }
  @return $value;
}

/*@function brightness($color) {
  @return ((red($color) * 0.299) + (green($color) * 0.587) + (blue($color) * 0.114)) / 255 * 100%;
}

// Compares contrast of a given color to the light/dark arguments and returns whichever is most "contrasty"
@function contrast-color(
  $color,
  $dark: map-get("theme", "text", "default-dark"),
  $light: map-get("theme", "text", "default-light")
) {
  @if $color == null {
    @return null;
  } @else {
    $color-brightness: brightness($color);
    $light-text-brightness: brightness($light);
    $dark-text-brightness: brightness($dark);

    @return if(
      abs($color-brightness - $light-text-brightness) >
        abs($color-brightness - $dark-text-brightness),
      $light,
      $dark
    );
  }
}*/
