@use "sass:map";

@mixin bgColor($color, $opacity: 1) {
  --bg-opacity: #{$opacity};
  background-color: $color;
  background-color: rgba(red($color), green($color), blue($color), var(--bg-opacity));
}

@mixin textColor($color, $opacity: 1) {
  --text-opacity: #{$opacity};
  color: $color;
  color: rgba(red($color), green($color), blue($color), var(--text-opacity));
}

@mixin borderColor($color, $opacity: 1) {
  --border-opacity: #{$opacity};
  border-color: $color;
  border-color: rgba(red($color), green($color), blue($color), var(--border-opacity));
}

@mixin sizes($sz) {
  @each $key, $value in $sz {
    &--#{$key} {
      font-size: #{$value};
    }
  }
}

@mixin getSize($sizes, $sz) {
  font-size: #{map.get($sizes, $sz)};
}

@mixin fontSize($sizes, $sz) {
  font-size: #{map.get($sizes, $sz)};
}