/*-------------------
  Basic Reset
--------------------*/

@import "~styles/normalize.css";
@import "~styles/animations.scss";

/*-------------------
  Quizdini Resets (opinionated)
--------------------*/

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

html,
body {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

/*-------------------
  Root Element
--------------------*/

#quizdini {
  height: 100%;
  overflow: auto;
}

:root {
  --zaffre: #001399;
  --blue-ryb: #014ce4;
  --fluorescent-blue: #01e7e4;
  --electric-purple: #aa54ff;
  --violet: #711cff;
  --yellow-crayola: #fff07c;
  --white: #ffffff;
  --primary: var(--zaffre);
}

.text-success {
  color: $success !important;
}

/*-------------------
  Typography
--------------------*/

@include font-face("Montserrat", "montserrat-v15-latin-ext_latin-300", 300, "normal");
@include font-face("Montserrat", "montserrat-v15-latin-ext_latin-regular", 400, "normal");
@include font-face("Montserrat", "montserrat-v15-latin-ext_latin-500", 500, "normal");
@include font-face("Montserrat", "montserrat-v15-latin-ext_latin-600", 600, "normal");
@include font-face("Montserrat", "montserrat-v15-latin-ext_latin-700", 700, "normal");
@include font-face("Montserrat", "montserrat-v15-latin-ext_latin-800", 800, "normal");
@include font-face("Montserrat", "montserrat-v15-latin-ext_latin-900", 900, "normal");

@each $font, $variants in $fonts {
  @each $variant, $values in $variants {
    .#{#{to-lower-case($font)}-#{$variant}} {
      font-family: quote($font);
      font-weight: map-get($values, "weight");
    }
  }
}