$secondary: #014ce4;
$primary: #711cff;
$tertiary: #001399;
$quaternary: #01e7e4;
$light: #f8f9fa;
$warning: #ffc107;
$danger: #dc3545;
$success: #28a745;
$transparent: transparent;
$current: currentColor;
$white: #ffffff;
$blue-100: #c2d6fe;
$blue-200: #71a0fe;
$blue-300: #4885fe;
$blue-400: #206afe;
$blue-500: #014ce4;
$blue-600: #0144cb;
$blue-700: #0137a2;
$blue-800: #01297a;
$blue-900: #011b51;
$blue: #014ce4;
$info: #2196f3;
$dark: #343a40;
$black-100: #999;
$black-200: #888;
$black-300: #777;
$black-400: #666;
$black-500: #555;
$black-600: #444;
$black-700: #333;
$black-800: #222;
$black-900: #111;
$black: #000000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$gray: #adb5bd;
$green-100: #d1e7dd;
$green-200: #a3cfbb;
$green-300: #75b798;
$green-400: #479f76;
$green-500: #198754;
$green-600: #146c43;
$green-700: #0f5132;
$green-800: #0a3622;
$green-900: #051b11;
$green: #198754;
$cyan-100: #c2fefd;
$cyan-200: #71fefc;
$cyan-300: #48fefb;
$cyan-400: #20fefa;
$cyan-500: #01e7e4;
$cyan-600: #01cbc8;
$cyan-700: #01a2a0;
$cyan-800: #017a78;
$cyan-900: #01514f;
$cyan: #01e7e4;
$indigo-100: #f2ebff;
$indigo-200: #be99ff;
$indigo-300: #a570ff;
$indigo-400: #8b47ff;
$indigo-500: #711cff;
$indigo-600: #5a00f5;
$indigo-700: #4b00cc;
$indigo-800: #3c00a3;
$indigo-900: #2d007a;
$indigo: #711cff;
$navy-100: #7081ff;
$navy-200: #1f39ff;
$navy-300: #001df5;
$navy-400: #0018cc;
$navy-500: #001399;
$navy-600: #000e7a;
$navy-700: #000c66;
$navy-800: #000a52;
$navy-900: #00073d;
$navy: #001399;
$orange-100: #ffe5d0;
$orange-200: #fecba1;
$orange-300: #feb272;
$orange-400: #fd9843;
$orange-500: #fd7e14;
$orange-600: #ca6510;
$orange-700: #984c0c;
$orange-800: #653208;
$orange-900: #331904;
$orange: #fd7e14;
$pink-100: #f7d6e6;
$pink-200: #efadce;
$pink-300: #e685b5;
$pink-400: #de5c9d;
$pink-500: #d63384;
$pink-600: #ab296a;
$pink-700: #801f4f;
$pink-800: #561435;
$pink-900: #2b0a1a;
$pink: #d63384;
$purple-100: #e0c2ff;
$purple-200: #cc99ff;
$purple-300: #c285ff;
$purple-400: #b870ff;
$purple-500: #aa54ff;
$purple-600: #9933ff;
$purple-700: #850aff;
$purple-800: #7000e0;
$purple-900: #5c00b8;
$purple: #aa54ff;
$red-100: #f8d7da;
$red-200: #f1aeb5;
$red-300: #ea868f;
$red-400: #e35d6a;
$red-500: #dc3545;
$red-600: #b02a37;
$red-700: #842029;
$red-800: #58151c;
$red-900: #2c0b0e;
$red: #dc3545;
$teal-100: #d2f4ea;
$teal-200: #a6e9d5;
$teal-300: #79dfc1;
$teal-400: #4dd4ac;
$teal-500: #20c997;
$teal-600: #1aa179;
$teal-700: #13795b;
$teal-800: #0d503c;
$teal-900: #06281e;
$teal: #20c997;
$yellow-100: #fff3cd;
$yellow-200: #ffe69c;
$yellow-300: #ffda6a;
$yellow-400: #ffcd39;
$yellow-500: #ffc107;
$yellow-600: #cc9a06;
$yellow-700: #997404;
$yellow-800: #664d03;
$yellow-900: #332701;
$yellow: #ffc107;
