$yellow-crayola: #fff07c;
$white: #ffffff;

$blue: (
  "base": #014ce4,
  "lighten-5": #c2d6fe,
  "lighten-4": #9abbfe,
  "lighten-3": #71a0fe,
  "lighten-2": #4885fe,
  "lighten-1": #206afe,
  "darken-1": #0144cb,
  "darken-2": #0137a2,
  "darken-3": #01297a,
  "darken-4": #011b51,
  "accent-1": #99bafe,
  "accent-2": #3376fe,
  "accent-3": #0043cb,
  "accent-4": #002165,
);

$navy: (
  "base": #001399,
  "lighten-5": #7081ff,
  "lighten-4": #475dff,
  "lighten-3": #1f39ff,
  "lighten-2": #001df5,
  "lighten-1": #0018cc,
  "darken-1": #000e7a,
  "darken-2": #000c66,
  "darken-3": #000a52,
  "darken-4": #00073d,
  "accent-1": #99a5ff,
  "accent-2": #334cff,
  "accent-3": #0019cc,
  "accent-4": #000c66,
);

$purple: (
  "base": #aa54ff,
  "lighten-5": #e0c2ff,
  "lighten-4": #d6adff,
  "lighten-3": #cc99ff,
  "lighten-2": #c285ff,
  "lighten-1": #b870ff,
  "darken-1": #9933ff,
  "darken-2": #850aff,
  "darken-3": #7000e0,
  "darken-4": #5c00b8,
  "accent-1": #cc99ff,
  "accent-2": #9933ff,
  "accent-3": #6600cc,
  "accent-4": #330066,
);

$teal: (
  "base": #01e7e4,
  "lighten-5": #c2fefd,
  "lighten-4": #9afefd,
  "lighten-3": #71fefc,
  "lighten-2": #48fefb,
  "lighten-1": #20fefa,
  "darken-1": #01cbc8,
  "darken-2": #01a2a0,
  "darken-3": #017a78,
  "darken-4": #01514f,
  "accent-1": #99fefd,
  "accent-2": #33fefb,
  "accent-3": #00cbc8,
  "accent-4": #006564,
);

$violet: (
  "base": #711cff,
  "lighten-5": #F2EBFF,
  "lighten-4": #D8C2FF,
  "lighten-3": #BE99FF,
  "lighten-2": #A570FF,
  "lighten-1": #8B47FF,
  "darken-1": #5A00F5,
  "darken-2": #4B00CC,
  "darken-3": #3C00A3,
  "darken-4": #2D007A,
  "accent-1": #bf99ff,
  "accent-2": #7f33ff,
  "accent-3": #4c00cc,
  "accent-4": #260066,
);

$colors: (
  "blue": $blue,
  "navy": $navy,
  "purple": $purple,
  "teal": $teal,
  "violet": $violet,
);

$fonts: (
  "Montserrat": (
    "light": (
      "path": "montserrat-v15-latin-ext_latin-300",
      "style": "normal",
      "weight": 300,
    ),
    "normal": (
      "path": "montserrat-v15-latin-ext_latin-regular",
      "style": "normal",
      "weight": 400,
    ),
    "medium": (
      "path": "montserrat-v15-latin-ext_latin-500",
      "style": "normal",
      "weight": 500,
    ),
    "semi-bold": (
      "path": "montserrat-v15-latin-ext_latin-600",
      "style": "normal",
      "weight": 600,
    ),
    "bold": (
      "path": "montserrat-v15-latin-ext_latin-700",
      "style": "normal",
      "weight": 700,
    ),
    "extra-bold": (
      "path": "montserrat-v15-latin-ext_latin-800",
      "style": "normal",
      "weight": 800,
    ),
    "black": (
      "path": "montserrat-v15-latin-ext_latin-900",
      "style": "normal",
      "weight": 900,
    ),
  ),
);

$theme: (
  "colors": $colors,
  "fonts": $fonts,
);

$tracking-tight: -0.025em;
